.flex-container-column {
    display: flex;
    background-color: #F1F6F8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 318px;
    height: 447px;
    margin: 40px;
    margin-bottom: 20px;
    row-gap:30px;
    border-radius: 20px ;
}

.flex-container-column-description {
    display: flex;
    flex-direction: column;
    width: 318px;
    height: fit-content;
    row-gap:0px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.flex-container-column-button {
    display: flex;
    flex-direction: column;
    width: 318px;
    height: 100%;
    row-gap: 0px;
    margin-left: 40px;
}


.bin-level{
    width: 390px;
    height: 100%;
}

text{
    text-align: end;
    width: fit-content;
    margin: 0px;
  }

b{
    width: fit-content;
  }

.flex-container-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

button-konfirmasi{
    width: 318px;
    padding: 10px;
    border: none;
    background-color: #F8F9FA;
    font-family: Helvetica Neue;
    color: #000000;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;

}

button-kunci{
    width: 318px;
    padding: 10px;
    border: none;
    background-color: rgba(48, 134, 163, 1)
    ;
    font-family: Helvetica Neue;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
}