.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-bottom: 5px;

}

   input{
        width: 322px;
        padding: 8px;
        margin: 10px 0px;
        border-radius: 5px;
        border: 1px solid gray;
    }


    label{
        font-size: 14px;
        font-family: Helvetica neue;
        color: gray;
        margin-top: 10px;
    }

    span{
        font-size: 12px;
        padding: 3px;
        color: red;
        display: none;
    }

    input:invalid[focused="true"]{
        border: 1px solid red;
    }

    input:invalid[focused="true"] ~ span{
        display: block;
    }

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
form{
    background-color: white;
    padding: 0px 20px;
    border-radius: 10px;
    }


h1{
    font-family: Helvetica neue;
    font-size: 26px;
    color: rgba(48, 134, 163, 1);
    text-align: center;
    width: 100%;
    font-weight: bold;
}

text{
    font-family: Helvetica neue;
    font-size: 16px;
    color: #6C757D;
    text-align: center;
    width: 100%;
}


