:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: black;
  color: #000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #3086A3;
  text-decoration: inherit;
}
a:hover {
  color: #3086A3;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

title{
  font-family: Helvetica Neue;
  font-size: 32px;
  line-height: 38.4px;
  margin-top: 40px;
}

text{
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 38.4px;
}

b{
  font-family: Helvetica Neue;
  font-size: 16px;  
  font-weight: bolder;
}

h1 {
  font-family: helvetica neue;
  font-size: 32px;
  line-height: 38.4px;
  margin-top: 40px;
  color: #3086A3;
  font-weight: bolder;
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #3086A3;
  }
  button {
    background-color: #f9f9f9;
  }
} */

button{
  width: 100%;
  height: 50px;
  padding: 0px;
  border: none;
  background-color: rgba(48, 134, 163, 1);
  color: white;
  border-radius: 5px;
  font-family: Helvetica neue;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;


}